apiVersion: backstage.io/v1alpha1
kind: System
metadata:
    name: ${parent_ou_name}-${environment}
    description: AWS account ${account_id} for ${environment} in OU ${parent_ou_name}
    environment: ${environment}
    annotations:
      aws-parent-ou-id: '${parent_ou_id}'
      aws-account-id: '${account_id}'
      aws-account-region: ${region}
      type: workload
spec:
    owner: ${owner}
    domain: ${parent_ou_name}
